DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=-)tlnyq&*7b)e=lg2t#sxl-#+kcx7*h=l3l0w^*saxei4nao73
DJANGO_ALLOWED_HOSTS=.mylittlejob.eu
DJANGO_SERVER_EMAIL=

# Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False
